{% extends "_base.html" %}
{% set active='handlegarden' %}
{% include "_navbar.html" %}
{% block content %}

<title>Gérer jardin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/handle_garden.css') }}">


<div class="portal-container">
    <div class="centered-element">
        <div class="align-user-icon">
            <br>
            <span class="display-name">Votre Jardin<span>
        </div>
        <hr class="litle-hr">
        {% if notexist %}
            <p>Erreur : Vous ne gérer aucun jardin. Comment êtes-vous arrivé ici ?</p>
        {% else %}
            <div>
                <form action="/handle_garden" method="post" class="handler-display-data" id="update-garden">
                    <input type="hidden" name="_method" value="put"/>
                    <div>
                        <b>Identifiant du jardin</b> <br>
                        <span>{{jardin.idJardin}}</span>
                    </div>
                    <div>
                        <b>Nom</b> <br>
                        <input class="input" type="text" name="name" autofocus="" value="{{jardin.name}}">
                    </div>

                    <div>
                        <b>Nom de la monnaie</b> <br>
                        <input class="input" type="text" name="moneyName" autofocus="" value="{{jardin.moneyName}}">
                    </div>
                    <div class="table-column">
                        <b>Participants</b> <br>
                        <div class="table-participating">
                            <!-- Table headers -->
                            <div class="table-header">
                                <div class="table-row">
                                    <p class="table-element-principal name"><b>Nom</b></p>
                                    <p class="table-element-principal balance"><b>Balance</b></p>
                                    <p class="table-element-principal date-recruitment"><b>Date de Recrutement</b></p>
                                </div>
                            </div>
                            <div class="table-body">
                                {% for p in participant %}
    
                                    <div class="table-row">
                                        <p class="table-element-secondary name">{{p.name}}</p>
                                        <p class="table-element-secondary balance">{{p.balance}}</p>
                                        <p class="table-element-secondary date-recruitment">{{p.recruitmentDate}}</p>
                                    </div>
        
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </form>

            </div>
            
            <div class="button-panel">

                <button class="green" onclick="updateGarden()">Enregistrer les modifications du Jardin</button>
                <button class="red" onclick="deleteGarden()">Supprimer le Jardin</button>
                <form action="/handle_garden" method="post" id="delete-garden">
                    <input type="hidden" name="_method" value="delete" />
                </form>

            </div>
            <hr class="litle-hr">
            <div class="button-panel">
                <form action="/handle_garden/add_quest" method="get">
                    <button class="third" type="submit" >Ajouter une quête</button>
                </form>
                <form action="/market/catalogue" method="get">
                    <button class="third" type="submit" >Gérer les récoltes</button>
                </form>
                <form action=" /market/orders" method="get">
                    <button class="third" type="submit" >Finaliser les commandes</button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
<script>
    function deleteGarden() {
        if (confirm("Voulez vous vraiment supprimer votre jardin ?")) {
            document.getElementById("delete-garden").submit()
        }
    }
    function updateGarden() {
        document.getElementById("update-garden").submit()
    }
</script>
{% endblock %}