{% extends "_base.html" %}
{% block content %}

{% set active="handlegarden" %}
{% include "_navbar.html" %}

<title>Vente Produit</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/market/product.css') }}">


{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <div id="flash_messages">
        <p id="category_message" hidden>Erreur</p>
        <p id="flash_message" hidden>{{ messages[0] }}</p>
        <div id="flash_message_buttons" hidden>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
    </div>
    {% endif %}
{% endwith %}

<div id="market_product"></div>
    <div id="market_product_presentation">
        <a href="{{ url_for('controller.sell_catalogue') }}"><img src="{{ url_for('static', filename='image/icon/back-arrow-icon.png') }}" alt="back arrow" id="back_arrow"></a>
        <h2 id="product_name">{{ product.name }}</h2>
        <div id="product_desc_img">
            <img src="{{ url_for('static', filename='image/vegetables/' + product.imagePath) }}" alt="image de {{ product.name }}" id="product_image">
            <p id="product_desc">{{ product.description }} <a id="product_desc_source" href="{{ product.description_source }}">(source)</a></p> 
        </div>
    </div> 
    
    <h4>Vendre : </h4>
    <div id="sell">
        <form id="sell_product" action="{{ url_for('controller.sell_product_post', product = product.name) }}" method="post">
                <label for="sell_quantity">Quantité à vendre en kg :</label>
                <input type="number" name="sell_quantity" id="sell_quantity" value="0.01" step="0.01" min="0.1">
                <label for="sell_price">Prix de vente par kg :</label>
                <input type="number" name="sell_price" id="sell_price" step="0.01" min="0" {% if infos.min_cost %} value="{{ '%.2f' % infos.min_cost }}" {% else %} value="{{ '%.2f' % 0 }}" {% endif %}>
                <input type="submit" id="sell_button" value="Vendre">
        </form>
    </div>


    {% if sellings|length != 0 %}
    <h4>Ventes en cours : </h4>
    <div id="market_product_sellings_container">
        <div id = "sort_sells">
            <label for="sort_sellings">Trier par :</label>
            <select name="sort_sellings" id="sort_sellings">
                <option value="date">Date de dépôt</option>
                <option value="price">Prix</option>
                <option value="quantity">Quantité</option>
            </select>
        </div>

        
        {% for selling in sellings %}
            <div class="market_product_selling">
                <span class="quantity"><span class="quantity_float">{{ selling.quantity }}</span>kg disponible</span>
                <span class="price_txt"><span class="price">{{ selling.cost }}</span> {{ garden.moneyName }}/kg</span>
                <span class="selling_date">Date de dépôt : <span class="date">{{ selling.date }}</span></span>
                <form action="{{ url_for('controller.cancel_selling', selling = selling.idRecolte ) }}" method="post" class="buy_form">
                    <input type="submit" class="buy_button" value="Annuler la vente" data-toggle="modal" data-target="#myModal">
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="brown-orange-style">Annuler la vente</h4>
        </div>
        <div class="modal-body">
            <p>Voulez-vous vraimer annuler la vente ?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" id="button_confirm_buy" class="btn btn-default">Confirmer</button>
        </div>
    </div>        
</div>


<script src="{{ url_for('static', filename='js/market_product.js') }}"></script>
<script src="{{ url_for('static', filename='js/flash_messages_modal.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}