{% extends "_base.html" %}
{% block content %}

{% set active="handlegarden" %}
{% include "_navbar.html" %}

<title>Catalogue</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/market/market.css') }}">

<div id="market">
    <div id="market_top">
        <p>Choisissez le produit à vendre :</p>
    </div>
    
    <div id="market_filters">
        <div id="market_search_by_name">
            <p>Nom : </p>
            <input type="text" id="research_bar" class="research_bar" placeholder="Rechercher un article">         
        </div>

        <div id="market_filters_type">
            <p>Type : </p>
            <select name="filter_type" id="filter_type">
                <option value="all">Tous</option>
                <option value="fruit">Fruit</option>
                <option value="légume">Légume</option>
                <option value="plante aromatique">Plante aromatique</option>
            </select>   
        </div>

        <div id="market_sort">
            <p>Trier par :</p>
            <select name="sort_products" id="sort_products">
                <option value="name">Nom</option>
                <option value="type">Type</option>
                <option value="quantity">Quantité</option>
            </select>
        </div>
    </div>

    <div id="market_products">
        {% for produit in catalogue %}

        {% set url = url_for('controller.sell_product', product = produit.name ) %} 
        <div class="product searching_items" style="cursor: pointer;" onclick="window.location='{{url}}';">
            <img src="{{ url_for('static', filename='image/vegetables/' + produit.imagePath) }}" alt="{{ produit.name }}" class="product_img">
            <div class="product_type">
                <p class="type">{{ produit.type }}</p>
            </div>

            <div class="product_name searching_property">
                <p class="name">{{ produit.name }}</a>
            </div>

            <div class="product_quantity">
                {% if produit.quantity  %}
                    <p><span class="quantity_float">{{ "%.2f" % produit.quantity }}</span> kg en vente</p>
                {% else %}
                    <p hidden><span class="quantity_float">0.00</span></p>
                    <p>Aucune vente</p>
                {% endif %}
                
            </div>
            
            <div class="product_cost_infos">
                {% if produit.mean_cost and produit.min_cost %}

                <p>Cout moyen : {{ produit.mean_cost }} {{ garden.moneyName }}</p>
                <p>Le moins cher : {{ produit.min_cost }} {{ garden.moneyName }}</p>
                {% endif %}
            </div>
                        
        </div>
        {% endfor %}
    </div>


</div>

<script src="{{ url_for('static', filename='js/market.js') }}"></script>
<script src="{{ url_for('static', filename='js/research_bar.js') }}"></script>

{% endblock %}